html{
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size:10px;
     background-color:#F4C9E5;
}

h1{
  font-size:2rem;
  margin:auto;
  text-align:center;
   background-color:#E9C7FF;
  width:50rem;
  border-radius:5px;
}

h2{
  font-size:3rem;
  margin:auto;
  text-align:center;
   background-color:#C7FFE9;
  width:50rem;
  border-radius:5px;
  border:double #FF468F;
  
}
.container{
  margin:auto;
  width:50rem;
  background-color:#FF468F;
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
   justify-content: space-around;
  border-radius:15px;
   border: double .5rem #C7FFE9;
}
.item{
  margin:1rem;
  background-color:#C7FFE9;
  width:12.5rem;
  height:12rem;
  border-radius:15px;
  text-align:center;
  border: double .5rem #E9C7FF;
  font-size:7rem;
  
}
.item:hover{
   background-color:#E9C7FF;
}


.dimmed{
    margin:1rem;
  background-color:#C7FFE9;
  width:12.5rem;
  height:12rem;
  border-radius:15px;
  text-align:center;
  border: double .5rem #E9C7FF;
  font-size:7rem;
  opacity:.5;
  pointer-events: none;
}



@media only screen and (max-width: 600px) {
  html {
    font-size:6px;
  }
}